@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;0,600;0,800;1,300&family=Roboto:ital,wght@0,100;0,400;1,100;1,300;1,500;1,700;1,900&family=Ubuntu:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
nav{
    height: 80px;
    max-height: 80px;
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    background-color: #005F73;
}
@media (max-width:909px){
    nav{

        padding: 0 20px;
    }
}
@media (max-width:700px){
    nav{
        padding: 0 10px;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 80px;
        z-index: 5;
        }
}

.logo{
    width: 160px;
}

nav li{
    display: inline;
    margin:  12px;
    height: 40px;
    width: 100px;
    padding: 9px 6px;
    position: relative;
}
nav li::before{
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #81ECEC ;
    top: 100%;
    left: 0;
    transition: .5s;
}
li:hover::before{
   width: 100%;
}
li.active,li:hover a{
    color: #81ECEC ;
}
nav a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    text-transform:capitalize;
}
label#icon{
    font-size: 30px;
    color: #fff;
    float: right;
    margin-right: 0px;
    line-height: 80px;
    display: none;
    cursor: pointer;

}
@media (max-width: 1048px){
    .logo{
        width: 160px;
        margin: 25px 0;
        line-height: 80px;
        padding: 0 20px;
        margin-left: 20px;
    }
    
    nav ul{
        margin-right: 20px;
    }
    nav li{
        margin:0 6px;
    }
    nav a{
        font-size: 16px;
    }
}
@media (max-width:909px){
    nav #icon{
        display: block;
        font-size: 30px;
        margin-right: 30px;
    }
    nav ul{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        text-align: center;
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #2f3640;
        top: 80px;
        left: -100%;
        transition: all .5s;
        z-index: 3;
    }
    nav ul li{
        display: block;
        margin-top: 40px;
        line-height: normal;
    }
    nav ul li a{
        font-size: 18px;
    }
    nav ul.show{
        left: 0;
    }
    .logo{
        width: 160px;
        margin: 30px 0;
        line-height: 80px;
        padding: 0 20px;
    }

}
.about{
    height: calc(100vh - 80px + 40px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #005F73;
    position: relative;
    overflow:hidden
}
.about::before{
    content: "";
    position: absolute;
    right: 20%;
    bottom: -150px;
    width: 250px;
    height: 250px;
    border: 50px solid rgba(0, 255, 255, 0.4);
    z-index: 4;
    transform: rotate(50deg);
}
@media (max-width:1000px){
    .about::before{
        content: "";
        position: absolute;
        right: 15%;
        bottom: -180px;
        width: 200px;
        height: 200px;
        border: 50px solid rgba(0, 255, 255, 0.4);
        z-index: 4;
        transform: rotate(50deg);
    }
}
@media (max-width:760px){
    .about{
        height: calc(100vh + 300px);
    }
}

.about .container{
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    padding-left: 100px;
    position: relative;
}
@media (max-width:1200px){
    .about .container{
        width: 100%;
        height: 80%;
        display: flex;
        align-items: center;
        padding-left: 100px;
        position: relative;
    }
}
@media (max-width:760px){
    .about .container{
        width: 100%;
        height: 100%;
        padding: 20px 0;

        display: flex;
        align-items: center;
        padding-left: 0px;
        position: relative;
        flex-direction: column;
    }
}
.about .container::before{
    content: "";
    position: absolute;
    left: 90%;
    top: -20px;
    width: 200px;
    height: 200px;
    border: 50px solid rgba(0, 167, 251, 0.2);
    border-radius: 50%;

}
.about .container::after{
    content: "";
    position: absolute;
    left: -20%;
    top: 40%;
    width: 200px;
    height: 200px;
    border: 50px solid rgba(0, 167, 251, 0.2);
    transform: rotate(60deg);
}

.about .container .image{
    height: 100%;
    width: 40%;
     background-image: url("images/image3.jpg");
     background-size:  contain;
     background-repeat: no-repeat;
     background-position: center;
     display: flex;
     justify-content: center;
     align-items: center;
}
@media (max-width:1020px){
    .about .container .image{
        height: 100%;
        width: 50%;
    }
}
@media (max-width:760px){
    .about .container .image{
        height: 50%;
        width: 80%;
        background-image: url("images/mehdi\ \(2\).jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}
.about .container .image .center{
    width: 90%;
    height: 90%;
    background-color: rgba(0,0, 0, 0.3);
}
.about .container .description{
    height: 100%;
    width: 40%;
    margin-left: 40px;
    color: #D1E2E0;
}
@media (max-width:760px){
    .about .container .description{
        margin-top: 30px;
        height: 40%;
        width: 80%;
        margin-left: 0px;
    }
}
.about .container .description h3{
    margin-top: 40px;
    color: #37e4d0;
}
.about .container .description h1{
    margin-top: 25px;
    position: relative;
    padding-bottom: 10px;
}
.about .container .description h1::before{
    content: "";
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: #37e4d0;
    top: 100%;
    left: 0;
}
.about .container .description p{
    line-height: 1.7;
    font-size: 16px;
    margin-top: 20px;
}
.about .container .description p span{
    color: #37e4d0;
}
.about .container .description input{
    margin-top: 30px;
    padding: 7px 15px;
    font-size: 16px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #37e4d0;
    color: #D1E2E0;
}
@media (max-width:760px){
    .about .container .description h3{
        margin-top: 15px;
    }
    .about .container .description h1{
        margin-top: 15px;
    }
    .about .container .description p{
        margin-top: 15px;
    }
    .about .container .description input{
        margin-top: 20px;
    }
}