@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;0,600;0,800;1,300&family=Roboto:ital,wght@0,100;0,400;1,100;1,300;1,500;1,700;1,900&family=Ubuntu:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap&effect=shadow-multiple|fire-animation|3d-float	|3d|outline');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    /* background-color: #005F73; */
    background: linear-gradient(#005F73,#2ec4b6);
    max-height: 100vh;
}
section{
    height: calc(100vh - 180px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.heading{
    height: 60px;
    margin-top: 20px;
    padding-left: 300px;
    margin-top: 70px;
    margin-bottom: 10px;
}
.heading h2.wow{
    letter-spacing: 1.8px;
    color: #fff;
    position: relative;
    margin: 0;
}
.heading h2.wow::before{
    content: ' W ';
    position: absolute;
    top: -34px;
    left: -80px;
    width: 56px;
    height: 100px;
    color: rgba(0, 0, 0, .2);
    text-align: center;
    line-height: 100px;
    font-size: 138px;
    z-index: -1;
 }
@media (max-width:900px){
    section{
        height: 100vh;
        margin-top: 100px;
    }
}
nav{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}
@media (max-width:909px){
    nav{
        padding: 0 20px;
    }
}
@media (max-width:700px){
    nav{
        padding: 0 10px;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 80px;
        z-index: 5;
        }
}
.logo{
    width: 160px;
}

nav li{
    display: inline;
    margin:  12px;
    height: 40px;
    width: 100px;
    padding: 9px 6px;
    position: relative;
}
nav li::before{
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #81ECEC ;
    top: 100%;
    left: 0;
    transition: .5s;
}
li:hover::before{
   width: 100%;
}
li.active,li:hover a{
    color: #81ECEC ;
}
nav a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    text-transform:capitalize;
}
label#icon{
    font-size: 30px;
    color: #fff;
    float: right;
    margin-right: 0px;
    line-height: 80px;
    display: none;
    cursor: pointer;

}
@media (max-width: 1048px){
    .logo{
        width: 160px;
        margin: 25px 0;
        line-height: 80px;
        padding: 0 20px;
        margin-left: 20px;
    }
    
    nav ul{
        margin-right: 20px;
    }
    nav li{
        margin:0 6px;
    }
    nav a{
        font-size: 16px;
    }
}
@media (max-width:909px){
    nav #icon{
        display: block;
        font-size: 30px;
        margin-right: 30px;
    }
    nav ul{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        text-align: center;
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #2f3640;
        top: 80px;
        left: -100%;
        transition: all .5s;
        z-index: 3;
    }
    nav ul li{
        display: block;
        margin-top: 40px;
        line-height: normal;
    }
    nav ul li a{
        font-size: 18px;
    }
    nav ul.show{
        left: 0;
    }
    .logo{
        width: 160px;
        margin: 30px 0;
        line-height: 80px;
        padding: 0 20px;
    }

}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 1200px;
    padding: 20px;
    height: 100%;
}
.container .card{
    position: relative;
    max-width: 350px;
    height: 215px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 10px;
    padding: 20px;
    box-shadow: 0 5px 202px rgba(0, 0, 0, 0.5);
    transition: .3s  ease-in-out;
    border-radius: 9px;
    cursor: pointer;
}
.container .card h1{
    position: absolute;
    top: 40%;
    left: 60%;
    font-size: 7em;
    color: rgba(0, 0, 0, 0.1);
    z-index: 2;
}
.container .card:hover{
    height: 420px;
}
.container .card .imgBox{
    position: relative;
    width: 300px;
    height: 300px;
    top: -20px;
    z-index: 1;
    border-radius: 9px;
}
.container .card .imgBox img{
    width: 100%;
    border-radius: 9px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2),
    -0px -5px 20px rgba(0, 0, 0, 0.2);
}
.container .card .content{
    margin-top: -140px;
    padding: 10px;
    padding: 10px;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: .3s  ease;
}
.container .card:hover .content{
    visibility: visible;
    opacity: 1;
    margin-top:15px;
}
.container .card .content h2{
    margin-bottom: 15px;
    text-transform:capitalize;
    font-weight: bold;
    position: relative;
    padding-bottom: 10px;
    color: #222;
}
.container .card .content h2::before{
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    width: 60px;
    height: 3px;
    background-color: #37e4d0;
}
.container .card .content p{
    line-height: 1.5;
    color: #222;
}
.container .card .content input{
    float: right;
    padding: 7px 15px;
    color: #222;
    background-color: transparent;
    border: 2px solid #37e4d0;
    border-radius: 9px;
    margin-bottom: 30px;
    cursor: pointer;
    transition: .5s;
}
.container .card .content input:hover{
   color:#fff;
   background-color: #37e4d0;
   border-radius: 0;
}
.description{
    position: absolute;
    bottom: 15%;
    right: 50%;
}
.description p{
    letter-spacing: 2px;
    margin-bottom: 8px;
    text-transform: capitalize;
    font-size: 25px;
    color: #102e4a;
    transform: rotate(-16deg);
}